:root {
   --cor-bg-principal: #f7f7f7 
}

body {
    background-color: var(--cor-bg-principal);
    
}

header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100px;
    box-shadow: 0px -7px 10px -1px rgba(0,0,0,1);
    -webkit-box-shadow: 0px -7px 10px -1px rgba(0,0,0,1);
    -moz-box-shadow: 0px -7px 10px -1px rgba(0,0,0,1);
}

#bannerCotacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}
.container-conversao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;    
    margin-top: 25px
}

.container-conversao > img {
    width: 70px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    margin: 20px;
}

.conversao {
    display: flex;
    margin: 20px;
}

.conversao img {
    transform: rotate(90deg);
    width: 50px;
}

.moeda {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 90px;
    border: 0;
    outline: none;
    font-size: 24px;
    padding: 10px;
}

.grupoInput {
    display: flex;
}

#moedas1, #moedas2 {
    width: 140px;
    height: 50px;
    outline: none;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#moedas2 {
    width: 90px;
}

.banner {
    background-color: goldenrod;
    width: 90%;
    height: 200px;
    margin: 50px auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 30px;
}

article {
    width: 50vw ;
    margin: 50px auto 0;
    text-align: justify;
    color: #212121;
    line-height: 25px;
}

article h2 {
    font-size: 1.5em;
}

strong {
    font-size: 1.1em;
}